<!-- <div [ngSwitch]="color">
  <h1 *ngSwitchCase="'red'">Red Color</h1>
  <h1 *ngSwitchCase="'green'">Green Color</h1>
  <h1 *ngSwitchCase="'pink'">Pink Color</h1>
  <h1 *ngSwitchDefault>Unknown Color</h1>

</div> -->
<!-- <p *ngFor="let item of User">{{item}}</p>
<p *ngFor="let item of Userdetails">Details Are : {{item.Address}} -- {{item.Name}} --{{item.Number}}</p> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- <ul *ngFor="let user of Users">
    <li>Name : {{ user.name }}</li>
    <li>Address : {{ user.Address }}</li>
    <li>Socail Accounts : 

      
    </li>
    
    <ul *ngFor="let account of user.socialaccount">
      <li>{{ account }}</li>
    </ul>
  </ul> -->
    <h2 [style.color]="color" [style.backgroundColor]="bgcolor">
      {{ title }}
    </h2>
    <button (click)="getcolor()">Change Color</button>
  </body>
</html>
